<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1"></li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1"></li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <div class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.name %></span>
        <% if Person.find_by(email: current_user.email).avatar.attached? %>
          <%=image_tag Person.find_by(email: current_user.email).avatar, class:"img-profile rounded-circle" %>
        <% end %>
      </div>

      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <%= link_to user_path(current_user), class:"dropdown-item" do %>
          <i class="fa fa-user text-gray-400" aria-hidden="true"></i>
          Profile
        <% end %>

        <div class="dropdown-divider"></div>
        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, {:class => "dropdown-item", :method => :delete}) do  %>
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            <span class="sidebar-normal"> Cerrar sesión </span>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
