<!--Strats Title -->
<div class="col-md-12">
  <h1 class="text-center">
    <%= image_tag("titles_#{controller.controller_name}.png",  style: "max-width:70%") %>
  </h1>
  <!--Strats New Button -->
</div>
<!-- Ends Title-->
