<div class="col-md-12">
  <div class="nested-fields">
    <div class="card-body">
      <%= f.file_field :image_file %>
      <% f.check_box :principal_file, checked: true %>
    </div>
  </div>
</div>
