<div class="col-md-12">
  <% if !notice.nil? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice"><%= notice %></p>

  </div>
  <% end %>
  <% if !alert.nil? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p id="alert"><%= alert %></p>
  </div>
  <% end %>
</div>
