<div id="footer">
  <div class="row" id="footer-content">
    <h3>
      Si deseas contactarnos por favor escribenos al siguiente correo:
      <br>
      <b>manueltehabla@gmail.com</b>
    </h3>
    <br>
  </div>

</div>


<style media="screen">
  #footer {
    position: absolute;
    width: 100%;
    background: #2FD3AC;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
  }

  #footer-content{
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
</style>
