<div id="principalcard">
  <%= render 'layouts/shared/user/topnavbar' %>
  <br><br>
  <div class="container-fluid">
    <div id="rectangle">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
  </div>
</div>
